node_modules
pgdata
.env
.devcontainer
docker-compose.yml
Dockerfile
*.Dockerfile
*.md
.*
!**/.yarnrc.yml
**/.DS_Store
**/node_modules
.yarn/install-state.gz
./apps/mobile
**/.next/cache
**/.next/cache/**
data
data.ms
.git
meili_data